<section [ngClass]="{'isLoading': loading}">
  <section class="loading-spinner"></section>
  <section class="event-list">
    <h1>Powerlifting Meets</h1>

    <h2>Filtered States: {{selectedStates}}</h2>

    <h2>Filter</h2>

    <button (click)="clearFilter(states)">Clear States Filter</button>
    <section *ngFor="let state of states">
      <input id="{{state.name}}" type="checkbox" [(ngModel)]="state.checked" (change)="updateFilteredEvents()"> <label for="{{state.name}}">{{state.name}}</label>
    </section>

    <button (click)="clearFilter(types)">Clear Types Filter</button>
    <section *ngFor="let type of types">
      <input id="{{type.name}}" type="checkbox" [(ngModel)]="type.checked" (change)="updateFilteredEvents()"> <label for="{{type.name}}">{{type.name}}</label>
    </section>

    <table>
      <tr>
        <th>Date</th>
        <th>Name</th>
        <th>Type</th>
        <th>Address</th>
        <th>Director</th>
        <th>Federation</th>
        <th>Sanction</th>
        <th>Link</th>
      </tr>
      <tr *ngFor="let event of filteredEvents">
        <td>{{event.date | date}}</td>
        <td [innerHTML]= event.name></td>
        <td>{{event.type}}</td>
        <td>{{event.location.address}}</td>
        <td>
          <div *ngIf="event.director.name && event.director.email; else elseBlock"><a href="mailto:{{event.director.email}}">{{event.director.name}}</a></div>
           <ng-template #elseBlock>{{event.director.name}}
            <div *ngIf="event.director.name; else emailBlock">{{event.director.name}}</div>
             <ng-template #emailBlock><div *ngIf="event.director.email"><a href="mailto:{{event.director.email}}">{{event.director.email}}</a></div></ng-template>
          </ng-template>
        </td>
        <td>{{event.federation}}</td>
        <td>{{event.sanction}}</td>
        <td><a *ngIf="event.htmlLink" href="{{event.htmlLink}}" target="_blank">More Info</a></td>
      </tr>
    </table>
  </section>
</section>
